.header {
	background-image: url(./top.png);
	width: 1350px;
	height: 500px;
}
.header-content {
	margin-left: 205px;
	padding-top: 25px;
}
.big-header {
	font-family: Arial;
	font-size: 40px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
}

.header__text {
	font-family: Myriad Pro;
	font-size: 45px;
	color: white;
}
.header__light-text {
	font-weight: 100;
	margin-top: 147px;
}
.header__bold-text {
	font-weight: bold;
	margin-top: -55px;
}
.header__comment {
	font-family: Myriad Pro;
	font-size: 26px;
	font-weight: 100;
	color: white;
	margin-top: -22px;
}