.header {
  background-image: url(6b4e13103e0dceb9fe89c82b18c3d641.png);
  width: 1350px;
  height: 500px;
}

.header-content {
  margin-left: 205px;
  padding-top: 25px;
}

.big-header {
  font-family: Arial;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.header__text {
  font-family: Myriad Pro;
  font-size: 45px;
  color: white;
}

.header__light-text {
  font-weight: 100;
  margin-top: 147px;
}

.header__bold-text {
  font-weight: bold;
  margin-top: -55px;
}

.header__comment {
  font-family: Myriad Pro;
  font-size: 26px;
  font-weight: 100;
  color: white;
  margin-top: -22px;
}

.camera {
  display: inline-block;
  width: 299px;
  height: 269px;
  outline: 1px #e5e5e5 solid;
  margin-right: 20px;
}

.camera-inactive {
  opacity: 0.5;
}

.camera-active {
  outline: 5px #f26522 solid;
  outline-offset: -4px;
  color: #f26522;
  text-decoration: none;
}

.camera:hover {
  outline: 5px #f26522 solid;
  outline-offset: -4px;
  color: #f26522;
  text-decoration: none;
}

.camera-content {
  display: inline-block;
}

.camera-1-description {
  margin-bottom: 0px;
}

.select-camera-model {
  margin-top: 32px;
}

.cameras {
  margin-top: 42px;
}

.cource {
  display: inline-block;
  width: 460px;
  height: 362px;
  outline: 1px #e5e5e5 solid;
  margin-right: 20px;
}

.cource-active {
  outline: 5px #f26522 solid;
  outline-offset: -4px;
}

.cource-inactive {
  opacity: 0.5;
}

.cource-1-description {
  margin-top: 0px;
}

.cource:hover {
  outline: 5px #f26522 solid;
  outline-offset: -4px;
}

.select-photo-courses {
  margin-top: 61px;
}

.courses {
  margin-top: 32px;
}

@charset "UTF-8";

.start-training {
  margin-top: 70px;
}

.find-promocode {
  margin-top: -4px;
}

.custom-link {
  border-bottom: dashed 1px;
  text-decoration: none;
  color: #0f91ff;
  font-family: Myriad Pro;
  font-size: 18px;
}

.promocode-background {
  width: 1350px;
  /*��� ������ ����� ����� ��-�������*/
  height: 279px;
  background-color: #ebebeb;
  margin-left: -205px;
  /*��� ����*/
  margin-top: 22px;
}

.promocode-content {
  display: inline-block;
  margin-left: 205px;
  margin-top: 25px;
}

.promocode-image {
  display: inline-block;
}

.promocode-description {
  display: inline-block;
  vertical-align: top;
  margin-left: -103px;
}

.promocode-description p:first-child {
  margin-top: -2px;
}

.new-user {
  margin-top: 40px;
}

.new-user-text {
  font-family: Myriad Pro;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.new-user-input {
  border: 1px solid grey;
  height: 47px;
  font-size: 35px;
  margin-top: 5px;
}

.email-input {
  width: 396px;
}

.code-input {
  width: 166px;
}

.form-block {
  display: inline-block;
  margin-right: 79px;
}

.hint {
  font-family: Arial;
  font-style: normal;
  font-size: 13px;
  color: #848484;
  margin-top: 5px;
}

.form-submit {
  width: 381px;
  height: 58px;
  background-color: #5e9800;
  border: none;
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin-top: 12px;
}

footer {
  font-family: Arial;
  font-style: normal;
  font-size: 13px;
  color: #495459;
  margin-top: 146px;
}

.footer-line {
  width: 940px;
  margin-left: -53px;
  color: #e5e5e5;
}

.copyright {
  margin-left: -12px;
  margin-top: 26px;
}

.content {
  margin-left: 205px;
}

.custom-header {
  font-family: Myriad Pro;
  font-size: 35px;
  text-transform: uppercase;
}

.comment {
  font-weight: 100;
  font-family: Myriad Pro;
  font-size: 17px;
  margin-top: -16px;
}

.table-aligner {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell-aligner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.big-description {
  font-family: Myriad Pro;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
}

.average-description {
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
}

.small-description {
  font-family: Arial;
  font-size: 13px;
}

.none-margin-top {
  margin-top: 0px;
}

q {
  quotes: "\AB" "\BB";
}


/*# sourceMappingURL=styles.css.map*/