.select-photo-courses__header {
	font-family: Myriad Pro;
	font-size: 35px;
	text-transform: uppercase;
}
.select-photo-courses__comment {
	font-weight: 100;
	font-family: Myriad Pro;
	font-size: 17px;
	margin-top: -16px;
}
.select-photo-courses {
	margin-top: 61px;
	margin-left: 205px;
}
.courses {
	margin-top: 32px;	
}