.cource {
	margin-right: 20px;
	display: inline-block;
	width: 460px;
	height: 362px;
	outline: 1px #e5e5e5 solid;
}
.cource-active, .cource:hover {
	outline: 5px #f26522 solid;
	outline-offset: -4px;
	color: #f26522;
}
.cource-inactive {
	opacity: 0.5;
}
.cource__big-description {
	font-family: Myriad Pro;	
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}
.cource__big-description-inactive {
	text-decoration: underline;
}
.cource__big-description-active, .cource__big-description:hover {
	text-decoration: none;
}
.cource__small-description {
	font-family: Arial;
	font-size: 13px;
}
.cource-1-description {
	margin-top: 0px;
}
