footer {
	font-family: Arial;
	font-style: normal;
	font-size: 13px;
	color: #495459;
	margin-top: 146px;
}
.footer-line {
	width: 940px;
	margin-left: -53px;
	color: #e5e5e5;
}
.copyright {
	margin-left: -12px;
	margin-top: 26px;
}
