footer {
	margin-top: 146px;
	margin-bottom: 200px;
	margin-left: 205px;
}
.footer_line {
	margin-left: -53px;
	width: 940px;
	color: #e5e5e5;
}
.copyright {
	margin-left: -12px;
	margin-top: 26px;
}
.copyright_text {
	font-family: Arial;
	font-style: normal;
	font-size: 13px;
	color: #495459;
}
